[submodule "src/models/bytemot"]
	path = src/models/bytemot
	url = https://github.com/ahaqu01/bytetrack.git
[submodule "src/models/yolox"]
	path = src/models/yolox
	url = https://github.com/ahaqu01/yolox.git
[submodule "src/models/retinaface"]
	path = src/models/retinaface
	url = https://github.com/ahaqu01/retinaface.git
[submodule "src/models/facenet"]
	path = src/models/facenet
	url = https://github.com/ahaqu01/facenet.git
[submodule "src/models/pose_det"]
	path = src/models/pose_det
	url = https://github.com/ahaqu01/pose_det.git
[submodule "src/models/image_definition_det"]
	path = src/models/image_definition_det
	url = https://github.com/ahaqu01/image_definition_det.git
