[submodule "src/models/bytemot"]
	path = src/models/bytemot
	url = https://gitlab.ictidei.cn/band-intel-center/Algorithm-platform/bytetrack.git
[submodule "src/models/yolox"]
	path = src/models/yolox
	url = https://gitlab.ictidei.cn/band-intel-center/Algorithm-platform/yolox.git
[submodule "src/models/retinaface"]
	path = src/models/retinaface
	url = https://gitlab.ictidei.cn/band-intel-center/Algorithm-platform/retinaface.git
[submodule "src/models/facenet"]
	path = src/models/facenet
	url = https://gitlab.ictidei.cn/band-intel-center/Algorithm-platform/facenet.git
[submodule "src/models/pose_det"]
	path = src/models/pose_det
	url = https://gitlab.ictidei.cn/band-intel-center/Algorithm-platform/pose_det.git
[submodule "src/models/image_definition_det"]
	path = src/models/image_definition_det
	url = https://gitlab.ictidei.cn/band-intel-center/Algorithm-platform/image_definition_det.git
